.container{
    display: flex;
    cursor: pointer;
    padding: 5px 8% 5px;
    width: inherit
}

.container:hover{
    background-color: black;
}
.display__image{
    height: "50px";
    width:'50px';
    border-radius: '4px';
    margin-right: '2%';
}

.texts{
    margin-left: 2%;
}

.text__one{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f5f5f5;
}

.text__two{
    font-size: 11px;
}